# =====================
# APP SETTINGS
# =====================
APP_NAME=python_app
APP_PORT=5551

# =====================
# DATABASE SETTINGS
# =====================
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydb

# Полный URL подключения к БД для SQLAlchemy.
DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb

# =====================
# ALGORITHM SETTINGS
# =====================
# Количество рабочих дней недели.
ALGORITHM_WEEKDAY_COUNT=3

# Ограничение правила: максимум пар в одном дне.
ALGORITHM_MAX_PAIRS_PER_DAY=3

# Максимальное число пар в одном расписании.
ALGORITHM_MAX_PAIRS_PER_WEEK=5
 